# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Environnement ---
venv/
.env

# --- Base de données ---
*.db
# Si tu veux garder ta structure mais pas les données :
# !mon_schema.db 

# --- IDE (Visual Studio Code) ---
.vscode/
.history/

# --- Système ---
.DS_Store
Thumbs.db