# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/       # <--- C'est lui qui génère les 1100+ fichiers !
.ruff_cache/

# --- Environnement ---
venv/
.env

# --- Base de données ---
*.db

# --- IDE (Visual Studio Code) ---
.vscode/
.history/

# --- Système ---
.DS_Store
Thumbs.db

.env