<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Casino</title>
</head>

<body>
    <header class="casino-header">
        <div class="bandeau">Bienvenue sur notre Casino</div>
    </header>
    <ul>
        <!--integration de python (temporaire)-->
        {% for user in users %}
        <li>{{ user["username"] }}</li>
        {% endfor %}
    </ul>
    <div class="logo">
            <img src="/static/logo.png" alt="Logo" />
    </div>
        <form action="/login" method="POST">
        <label for="username">Username :</label>
        <input type="text" id="username" name="username" required autocomplete="username">
        <br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required autocomplete="current-password">
        <br>

        <button type="submit">Valider</button>
    </div> 
    <footer>
        <p>text exemple v2</p>
    </footer>

</body>

</html>